 .try {
     margin: 15px;
     padding: 5px;
    height: 50px;
    width: 60px;
 border-top: solid red 2px;
border-bottom: solid red 2px; 
border-right: none;
border-left: none;
background-color: white;

}
.try:hover {
   border-right: solid red 2px;
    border-left: solid red 2px;
  
    border-top: none;
    border-bottom: none;
}

